html {
-ms-overflow-style: -ms-autohiding-scrollbar;
border:0;
margin:0;
padding:0;
background:#000;
}

header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
display:block;
}

body,h1,h2,h3,h4,h5,h6,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,blockquote,q,th,td,caption,table,div,span,object,iframe,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr {
border:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

blockquote,q {
quotes:;
}

blockquote:before,blockquote:after,q:before,q:after {
content:"";
}

th,td,caption {
float:none!important;
text-align:left;
font-weight:400;
vertical-align:middle;
}

table {
border-collapse:separate;
border-spacing:0;
vertical-align:middle;
}

a img {
border:none;
}

body {
position:absolute;
height:100%;
cursor: url(../img/cursor_pointer.png) 0 0, default;
overflow-y:auto;
overflow-x:hidden;
width:100%;
font-family:'Roboto',Helvetica,Arial,sans-serif;
color:#FFF;
}
::-moz-selection {
color:#000;
background:#FFD011;
}
::selection{
color:#000;
background:#FFD011;
}

a, a:visited{
color:#FFF;
text-decoration:none;
cursor: url(../img/cursor_hand.png) 18 0, pointer;
}
.no-select{
touch-action: none;
pointer-events: none;
-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#Container{
min-width:721px;
width:99vw;
overflow-x:hidden;
padding:0.5vw;
min-height:88vh;
}

.DUMMY{
clear:both;
display:block;
width:100%;
height:100%;
top:0;
position:absolute;
}

.Flip{
position:relative;
height:100%;
}

.Flip .front{
cursor: pointer;
cursor: url(../img/cursor_hand.png) 18 0, pointer;
}

.Cell{
float:left;
margin:0.5vw;
overflow:hidden;
}

.Cell .Thumb{
width:100%;
height:auto;
position: absolute;
}

.Cell .Blank{
width:100%;
height:100%;
position: absolute;
}

.Appstore{
width:100%;
text-align: center;
}
p.Title{
white-space: nowrap;
}
.BTN{
border: 2pt #FFF solid;
border-radius:100px;
position: relative;
margin:0 auto;
padding:15px;
margin-top:15px;
font-weight:bold;
width:55%;
}
.BTN:hover {
color:#000;
background:#FFF;
}
.Black{
color:#000;
}
.Black a, .Black a:visited{
color:#000;
}
.Black .BTN{
border: 2pt #000 solid;
}
.Black .BTN:hover {
color:#FFF;
background:#000;
}
.Center{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.Footer{
font-weight:300;
width:98vw;
overflow:hidden;
padding:0 1vw 1vw;
}

.Footer .Right{
float:right;
}

.Footer .Left{
float:left;
}

.marquee{
margin-top:-6.7%;
font-weight:700;
color:#FFF;
white-space:nowrap;
position: relative;
}

.test{
background-color: red;
}

@media only screen and (max-width: 1080px) and (orientation: portrait) {
.Cell{
margin:1.5vw;
}
#Container{
width:97vw;
padding:1.5vw;
}
.Footer{
width:94vw;
padding:0 3vw 3vw;
}

}
